@import "../../../scss/variables.scss";

.movie-star{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

h1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    color: white;
    letter-spacing: 0px;
    text-shadow: 0px 0px 5px $backg;
}

h2{
    font: $banshc;
    color: white;
    text-align: center;
    letter-spacing: 0px;
    text-shadow: -2px 2px 5px $backg;
}


.barBlur{
    display: flex;
    position: absolute;
    align-content: center;
    margin-top: 170px;

    width: 100%;
    height: 100px;

    background: transparent;
    /* Note: currently only Safari supports backdrop-filter */
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.09);
    filter: grayscale(1);

}

.titleStar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;    
    
}

img{
    width: 100%;
}
