// --------- | COLORS | ----------
$backg: #060513;
$golden: #F2F3AE;
$redleft: #F4442E;
$blueright: #4262FE;
$laranja: #FC9E4F;

// --------- | FONTS | ----------
$banshc : normal normal normal 25px/35px Bahnschrift;
$banshcB : normal normal bold 25px/35px Bahnschrift;
$titulo-star: normal normal bold 10px   Gill Sans MT;
$titulo-detail: normal normal bold 40px   Gill Sans MT;