<div class="hide">
    <section class="user">
        <div class="photoUser">
            <img src="../../../../assets/kaio_lindo.png">
        </div>
        <div class="idUser">
            <h2>Kaio Espindola</h2>
            <h3>#2210</h3>
        </div>
    </section>
    <section class="menu">
        <span (click)="goHome()">home</span>
        <span (click)="goHome()">favorite</span>
    </section>
    <section class="configurations">
        <button class="logout">LOGOUT</button>
    </section>
</div>



